body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


.info{
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

.circle{
  height: 10px;
  width: 10px;
  border-radius: 8px;
  display: inline-block;
}